
@{
    ViewBag.Title = "ConfirmationSent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div id="page-wrapper">
        <h2>ConfirmationSent</h2>

        <p>Thank you for confirming your email.</p>
        <br />
        @Html.ActionLink("Return To Login", "Login", "Account")
    </div>
</body>