@{
    ViewBag.Title = "About";
}

<body>
    <div id="page-wrapper">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>This is the site I will be using to track bugs!</p>
    </div>
</body>
