@{
    ViewBag.Title = "Contact";
}
<body>
    <div id="page-wrapper">
        <br />
        <h2 class="text-center"><strong>Contact</strong></h2>
        <h4 class="text-center">Have a question or just want to reach out? Let's get in touch!</h4>
        <hr />
        <address>
            Zachary M. Wilson<br />
            123 My House<br />
            Lexington, NC 27295<br />
            <br />
            <a href="tel:336-813-6925"><strong>Call</strong></a> or <a href="sms:336-813-6925"><strong>Text</strong></a> at (336) 813-6925
            <br />
            <strong>Email:</strong>   <a href="mailto:zacharywilsonm@gmail.com">zacharywilsonm@gmail.com</a><br />
        </address>
    </div>
</body>